{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/test_login.css" %}" type="text/css">
    {#<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>#}
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <title>登陆</title>
</head>
<body>
    <div id="app">
        <h1 :class="{title1:t_color}" >测试网页</h1>
        <h1 :style="{'font-size':font_size + 'em'}">测试</h1>
        <img src="{% static "img/logo.png" %}" alt="鱼C-Logo"/><br>
        <form id="login_form" action="http://localhost:8000/login" method="post">
            <p>账号：<input type="text" :class="{'form_login':input_text}" name="account"></p>
            <p>密码：<input type="text" :class="{'form_login':input_text}" name="password"></p>
            <button type="submit">登陆</button>
            {% csrf_token %}
        </form>
        <button id="b1" type="submit">Ajax</button>
        <button @click="btnclick">变大</button>
        <button @click="btn_add" >+</button>
        <p id="p1">[[ message ]]</p>
        <li v-for="item in movies">[[ item ]]</li>
    </div>
    <script type="text/javascript" src="{% static "js/vue_js.js" %}"></script>
</body>
</html>